.body{
    /* color: white; */
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    /* align-items: center; */
    /* row-gap: -250px; */
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    padding-top: 50px;
    row-gap: 40px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.poke-card{
    display: flex;
    color: black;
    background-color: rgba(255, 255, 255, 0.863);
    width: 200px;
    row-gap: 5px;

    height: 200px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    padding: 10px;

}

.poke-card h1{
    font-size: 20px;
}

.poke-card img{

    /* align-items: center; */
    height: 150px;

}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    font-size: 20px;
}

.button-container button {
    width: 100px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.562) ;
    color: white;
    border:none;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.39);
    border-radius: 20px;
}

.button-container button:hover{
    background-color: rgba(255, 255, 255, 0.384);
    cursor: pointer;
}